@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*google font link*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}
/*-------------------upper header-------------------*/
.upper-outer{ 
    width: 100%;
    height: 77px;
    background-color: #6B3CC9;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.inner-contect{ 
    height: 100%; 
}
.upper-left{
    width: 250px;
    display: flex; 
    align-items: center; 
    margin-left: 77px; 
}
.upper-left img{ 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.upper-right{ 
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    margin-right: 77px;
}
/*=====================================================*/

.upper-right ul{
    list-style: none; 
}

.upper-right li{
    display: inline-block;
    margin-right: 20px;

}

.upper-right ul li:last-child{ 
    margin: 0; 
}

.upper-right a{
    position: relative; 
    text-decoration: none;  
    color: #FFFFFF;
}

.upper-right a:before, 
.upper-right a:after{
    content: ""; 
    position: absolute; 
    bottom: 0; 
    width: 0; 
    height: 2px; 
    background-color: black;  
    transition: width 0.5s ease-in-out; 
}

.upper-right a:before{ 
    left: 50%; 
    transform: translateX(-50%); 
}

.upper-right a:after{ 
    right: 50%; 
    transform: translateX(50%); 
}

.upper-right a:hover:before, 
.upper-right a:hover:after{
    width: 80%; 
}

/*-------------------upper header-------------------*/

/*-----------------upper-main banner-----------------*/

.banner-up{ 
    width: 100%;
    height: auto;
    display: flex;
    background-size: cover;
    overflow: hidden;
    display: flex; 
    align-items: flex-start; 
    justify-content: center;
}

.up-banner-right img{ 
    width: 100%;
}

.up-banner-left{
    width: 390px;
    height: 200px;
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%);
    position: absolute; 
    bottom: 0;
    z-index: 1;
    top: 500px;
    left: 80px;
    
    flex: 1;
    padding: 0 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
}

.up-banner-main-text{  
    font-size: 30px;
    color:#FFFFFF;
    text-align: 10px;
}

.btn{ 
    padding: 8px 15px;
    color: white;
    border: none;   
    border-radius: 5PX;  
    cursor: pointer; 
}

.up-banner-main-button,
.learn-up-button,
.bottom-banner-button{
    background-color:#F28D35;
    margin-top: 30px; 
    padding: 8px 15px;
    color: white;
    border: none;   
    cursor: pointer; 
}

/*-----------------upper-main banner-----------------*/

/*-----------------bottom up main banner-----------------*/

.bottom-up-banner,
.bottom-outer{ 
    width: 100%;
    height: 500px;
    display: flex; 
}

.bottom-up-banner-left,
.bottom-banner-right{ 
    width: 400px;
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.bottom-up-banner-left img,
.bottom-banner-right img{
    width: 70%;
}

/*===============================================*/

.bottom-up-banner-right{ 
    flex: 1;
    padding: 0 15px; 
    display: flex;  
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
}

.banner-up-main-text,
.bottom-banner-main-text{  
    font-size: 30px;
    color: #6B3CC9;
}

.banner-up-desc{  
    font-size: 20px;
    color: #1C2022;
    margin-top: 20px; 
    align-items: flex-start;
    margin-right: 77px; 
}


/*-----------------bottom up main banner-----------------*/

/*-----------------bottom main banner-----------------*/

.bottom-left{ 
    flex: 1;
    display: flex;  
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    padding: 0 20px;
}

.bottom-banner-desc{   
    font-size: 20px;
    color: #1C2022;
    margin-top: 20px; 
    align-items: flex-start;

}

/*-----------------bottom main banner-----------------*/

.bottom-outline{ 
    width: auto;
    height: 324px;
    display: flex; 
    background-color: #6B3CC9;
}

.bottom-outline-left{
    flex: 1;
    padding-left: 40px;
    display: flex;  
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
}

.bottom-outline-right,
.outline-right-details{ 
    flex: 1;
    padding-left: 40px;
    display: flex;  
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    
}


.bottom-outline-left img{ 
    align-items: flex-start;
    
}

.desc{  
    font-size: 20px;
    color:#FFFFFF;
    margin-top: 20px;
    margin-right: 100px;
}

/*===============================================*/

.right-title,
.left-title{
    font-size: 20px;
    color:#FFFFFF;
    top: 80px;
}
.bottom-outline-right ul,
.outline-right-details ul{
    list-style: none; 
    font-size: 15px;
    margin-top: 20px;
}

.bottom-outline-right a,
.outline-right-details a{ 
    position: relative; 
    text-decoration: none; 
    color: #FFFFFF;
}

/*===============================================*/

.finish-bottom{  
    min-width: 800px;   
    background-color: #6B3CC9;
    border-top:#FFFFFF;
    padding-bottom: 30px;
}

.finish-bottom h4{
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

 /*============= Media queries ==============*/

 @media only screen and (max-width: 1440px){  /*response (@media) with sreen change px*/
    .upper-outer,
    .upper-left,
    .upper-left img,
    .upper-right,
    .banner-up,
    .up-banner-right,
    .up-banner-right img,
    .up-banner-left,
    .bottom-up-banner,
    .bottom-outer,
    .bottom-up-banner-left,
    .bottom-banner-right,
    .bottom-up-banner-right,
    .banner-up-desc,
    .bottom-left,
    .bottom-banner-desc,
    .bottom-outline,
    .bottom-outline-left,
    .bottom-outline-right,
    .outline-right-details
    { /*class name*/
        display: block;  /*display change in sreen change px*/
    }}
 @media only screen and (max-width: 1200px){  /*response (@media) with sreen change px*/
    .upper-outer,
    .upper-left,
    .upper-left img,
    .upper-right,
    .banner-up,
    .up-banner-right,
    .up-banner-right img,
    .up-banner-left,
    .bottom-up-banner,
    .bottom-outer,
    .bottom-up-banner-left,
    .bottom-banner-right,
    .bottom-up-banner-right,
    .banner-up-desc,
    .bottom-left,
    .bottom-banner-desc,
    .bottom-outline,
    .bottom-outline-left,
    .bottom-outline-right,
    .outline-right-details
    { /*class name*/
        display: block;  /*display change in sreen change px*/
    }}

@media only screen and (max-width: 768px){  /*response (@media) with sreen change px*/
    .upper-outer,
    .upper-left,
    .upper-left img,
    .upper-right,
    .banner-up,
    .up-banner-right,
    .up-banner-right img,
    .up-banner-left,
    .bottom-up-banner,
    .bottom-outer,
    .bottom-up-banner-left,
    .bottom-banner-right,
    .bottom-up-banner-right,
    .banner-up-desc,
    .bottom-left,
    .bottom-banner-desc,
    .bottom-outline,
    .bottom-outline-left,
    .bottom-outline-right,
    .outline-right-details
    { /*class name*/
        display: block;  /*display change in sreen change px*/
    }}

    @media only screen and (max-width: 375px){  /*response (@media) with sreen change px*/
    .upper-outer,
    .upper-left,
    .upper-left img,
    .upper-right,
    .banner-up,
    .up-banner-right,
    .up-banner-right img,
    .up-banner-left,
    .bottom-up-banner,
    .bottom-outer,
    .bottom-up-banner-left,
    .bottom-banner-right,
    .bottom-up-banner-right,
    .banner-up-desc,
    .bottom-left,
    .bottom-banner-desc,
    .bottom-outline,
    .bottom-outline-left,
    .bottom-outline-right,
    .outline-right-details
    { /*class name*/
        display: block;  /*display change in sreen change px*/
    }}